// Import custom.scss
@import './../../custom.scss';

.containerB {
  float: right;
  width: 95%;
  position: relative;
  box-shadow: -4px 0 5px -5px #333;
  z-index:-2
}
  
.containerS {
  float: right;
  width: 90%;
  position: relative;
  box-shadow: -4px 0 5px -5px #333;
  z-index:-2
}