@import './../../../App.scss';


.btnIcon {
    color:white;
    display: inline;
    margin-left:-1.25rem;
    padding: 1rem;
    font-size: .9rem;
}

.squarebtn {
    border-radius: 0px !important;
}