// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// color varilabe
$bodyColor:#F2F4F7;
$textGray: #999;
$boxShadow: #ced4da;
$lightgray: #F1F1F2;
$darkgray: darkgray;

$primary: #ffccbb;
$primarydark: #f7b8a2;
$info: #70bbfd;
$infodark: #3ea3fc;
$secondary:#e7e2e2;
$secondarydark: #d0c6c6;
$success:#4ce1b6;
$successdark:#24d6a3;
$danger:#ff4861;
$dangerdark:#ff1535;
$warning:#f6da6e;
$warningdark:#f3ce3e;





/* Set the background color of body to tan */
body {
    margin-top:0px ;
    background-color: $bodyColor;
  }

div {
  display: block;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
      margin-top:0px ;
  }
}
  
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
      margin-top:0px ;
  }
}
